.App, select, button {
  font-family: monospace;
  padding: 5px;
}

select, button {
  color: white;
  background-color: #404040;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

input {
  width: 90%;
  color: white;
  padding: 5px;
}
